/* Hero Component of Profile Page */
.profile-hero{
    padding: 1rem;
    background-color: var(--dark);
    display: flex;
    border-radius: 1rem;
    color: var(--light_text);
}
.profile-img{
    flex: 1;
}
.profile-info{
    flex: 2;
}
.profile-info h1{
    display: inline-block;
    margin-right: 3rem;
}
.profile-info span{
    margin-right: 3rem;
}
.profile-info p{
    margin-top: 1rem;
}
.profile-img img{
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}
.profile-info .button-outline{
    position: relative;
    bottom: 8px;
}

/* Info Component Of Profile Page */
.profile{
    display: flex;
}
.profile-sidebar{
    /* position: fixed; */
    position: sticky;
    top: 60px;
    flex: 1;
    background-color: var(--dark);
    border-radius: 1rem;
    color: var(--light_text);
    margin: 1rem 1rem 0 0;
    max-height: 16rem;
}
.profile-sidebar p{
    margin: 1rem;
}
.profile-notes{
    flex: 2;
}
.profile-sidebar .button-outline{
    margin: 0.5rem 1rem 1rem;
}

/* Modal For edit profile details */
